/* RESET STYLES - DO NOT DELETE
--------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas,
details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: Helvetica;
	color: #2a2a2a;
	padding-top: 80px;
	background-color: #FFF;
	font-size: 1em;
}

b{
	font-weight: bold;
}

.english-link{
	font-family: Helvetica;
	color: #07274B;
}

.english-link:hover {
	color: #0E4E96;
}

#container {
	width: 930px;
	margin: 0 auto;
	background-color: #FFF;
}

#header {
	width: 897px;
	padding-left: 33px;
	height: 80px;
	background-color: #e7e7e7;
	position:absolute;
    top:0;
}

.clear-floats {
	clear:both;
}

#heading-section {
	height: 40px;
}

#course-code {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #0E4E96;
	color: #FFF;
	margin-right: 13px;
	height: 24px;
	padding: 10px 8px 6px;
	display: inline-block;
	float: left;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0E4E96;
	float: left;
	padding: 10px 0px 6px;
}

#menu {
	height: 20px;
    padding-top: 13px;
    position: relative;
}

.menu-item {
	position: relative;
	cursor: pointer;
    float: left;
    font-size: 12px;
    list-style: none outside none;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 21px;
    padding-top: 7px;
    margin-top: -2px;
    width: 163px;
}

.menu-item-border {
	border-left: solid 2px #DDD;
    border-bottom: solid 1px #DDD;
}

.last-menu-item-border {
	border-left: solid 2px #DDD;
    border-right: solid 2px #DDD;
    border-bottom: solid 1px #DDD;
}

.menu-item-border:hover {
    border-bottom: solid 1px #FFF;
}

.last-menu-item-border:hover {
    border-bottom: solid 1px #FFF;
}

.menu-arrow {
	position: absolute;
    right: 20px;
    top: 3px;
    width: 25px;
}

.submenu {
	width: 550px;
	position: absolute;
	top: 40px;
	background-color: #ccc;
	opacity: .9;
	padding: 10px 19px 10px 20px;
	z-index: 9999;
	display: none;
	font-size: 12px;
}

.submenu li {
	margin: 5px 0;
	margin-left: 20px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 33px;
	color: #07274B;
}

h3 {
	font-size: 20px;
	color: #2a2a2a;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 33px;
	margin-top: 18px;
	margin-bottom: 18px;
}

.left-margin {
	margin-top: -60px;
	width: 53px;
	float: left;
	height: 200%;
	/*background-image: url('../images/page-line.png');
	background-repeat: repeat-y;*/
}

#page-one-height {
	height: 500px;
}

#page-two-height {
	height: 1230px;
}

/*
#page-three-height {
	height: 580px;
}
*/

#page-four-height {
	height: 870px;
}

#page-five-height {
	height: 820px;
}

.content {
	width: 930px;
	padding-top: 60px;
	overflow: hidden;
	width: 877px;
	position: relative;
	/*background-image: url('../images/page-line.png');*/
	background-repeat: repeat-y;
	background-position: 0px 0px;
	padding-left: 53px;
}

.content-text {
	width: 550px;
	margin-left: 33px;
	margin-bottom: 33px;
	line-height: 24px;
}

.doc-note {
	font-size: 8pt;
 	line-height: 1.5em!important;
	margin-left: 33px;
	margin-bottom: 33px;
}


.bullet-intro {
	width: 550px;
	margin-left: 33px;
	margin-bottom: 10px!important;
	line-height: 24px;
}
.bullet-list {
	margin-bottom: 33px;
}

.bullet-list li{
	width: 550px;
	margin-left: 85px;
	margin-bottom: 5px;
	line-height: 30px;
}
.bullet-activity li{
	width: 550px;
	margin-left: 51px;
	margin-bottom: 5px;
	line-height: 30px;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

.caption_text {
	font-size: 13px;
}
.trigger {
	background-color: #ddd;
	border-bottom: 1px dashed #000;
    text-decoration: none;
	cursor: pointer;
	cursor: hand;
	width: initial!important;
}

.page-marker {
	position: absolute;
	left: 23px;
	margin-top: 2px;
}



.hidden-hover-option {
	position: absolute;
	z-index: 2;
	display: none;
}

.rust-color-line {
	color: #cd7b2d;
	width: 230px;
}

.activity-option p {
	width: 230px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 30px;
}

.activity-option h3 {
	margin-left: 0px;
	margin-bottom: 10px;
}

.quiz-button {
	height: 38px;
	width: 142px;
	margin-left: 20px;
	background-image: url("../images/buttons/go_to_quiz.png");
	background-position: 0px 0px;
	cursor: pointer;
	cursor: hand;
	text-indent: -9999em;
	overflow: hidden;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: 0px;
}

.quiz-button:hover {
	background-position: 304px 0px;
}

.quiz-button:active {
	background-position: 142px 0px;
}

.upload-to-dropbox-button {
	height: 38px;
	width: 142px;
	margin-left: 20px;
	background-image: url("../images/buttons/upload_to_dropbox.png");
	background-position: 0px 0px;
	cursor: pointer;
	cursor: hand;
	text-indent: -9999em;
	overflow: hidden;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: 0px;
}

.upload-to-dropbox-button:hover {
	background-position: 304px 0px;
}

.upload-to-dropbox-button:active {
	background-position: 142px 0px;
}

.submit-button {
	height: 38px;
	width: 142px;
	margin-left: 20px;
	background-image: url("../images/buttons/check_answers.png");
	background-position: 0px 0px;
	cursor: pointer;
	cursor: hand;
	text-indent: -9999em;
	overflow: hidden;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: 0px;
}

.submit-button:hover {
	background-position: 304px 0px;
}

.submit-button:active {
	background-position: 142px 0px;
}
.video-section {
	position: relative;
	margin: 0px 0px 33px;
	padding-top: 17px;
}

.video-section iframe {
	margin-left:33px;
	margin-bottom: 23px;
}


.video-section p {
	margin-bottom:0px;
}

.video-activity-section iframe {
	margin-left:0px;
	margin-bottom: 23px;
}

.audio-section {
	position: relative;
	margin: 0px 0px 50px;
	padding-top: 17px;
}

.audio-section iframe {
	margin-left:33px;
	margin-bottom: 23px;
}

.audio-section p {
	margin-bottom:0px;
}

.audio-section2 {
	margin: 0px 0px 50px;
	padding-top: 17px;
}

.audio-section2 iframe {
	margin-left:33px;
	margin-bottom: 23px;
}

.audio-section2 p {
	margin-bottom:0px;
}

.activity-icon {
	position: absolute;
	left: -35px;
	top: 15px;
}

.quote-box {
	background-color: #0E4E96;
	color: white;
	margin-left: -53px;
	width: 930px;
	padding:10px 0px 10px 57px;
	margin-bottom: 33px;
}

.quote-box h3 {
	font-size: 16px;
	color: white;
	text-transform: capitalize;
	margin-left: 0px;
	margin-top: 0px;
}

.quote-box p {
	width: 550px;
	margin-left: 26px;
	margin-bottom: 0px;
	line-height: 30px;
}

.activity-section-icon {
	position: absolute;
	left: -51px;
	top: 9px;
}

.activity-section {
	position: relative;
	background-color: #CFDCEA;
	color: #2a2a2a;
/*	width: 550px;*/
	padding: 33px;
	margin-left: 16px;
	margin-bottom: 60px;
}

.activity-section-wide {
	position: relative;
	background-color: #CFDCEA;
	color: #2a2a2a;
	width: 843px;
	padding: 15px 0px 3px 18px;
	margin-left: 16px;
	margin-bottom: 60px;
}

.transparent-activity {
	background-color: transparent;
	padding-bottom: 0px;
}

.activity-section h3 {
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 0px;
}
.activity-section-wide h3 {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.activity-link {
	color: #2a2a2a;
	display: block;
	padding: 2px 0;
}

.activity-link:hover {
	color: #60350c;
}

.activity-section p {
	margin-left: 0px;
	margin-bottom: 23px;
	line-height: 30px;
}
.activity-section-wide p {
	margin-left: 0px;
	margin-bottom: 23px;
	line-height: 30px;
	width: 830px;
}
.activity-section ol {
	margin-left: 22px;
	margin-bottom: 23px;
	line-height: 30px;
}

.activity-section-wide ol {
	margin-left: 22px;
	margin-bottom: 23px;
	line-height: 30px;
}
.left-activity-info {
	float: left;
	width: 554px;
	margin-right: 27px;
}

.right-activity-info {
	float: left;
	width: 200px;
	border-top: solid;
	padding-top: 10px;
	padding-left: 10px;
	border-width: 10px;
	border-color: #60350c;
}

.no-border {
	border-top: none;
	padding-top: 0px;
}

.green-correct-div {
	width:50px!important;
	border: none!important;
	position: absolute;
	top: 10px;
	right:10px;
	display: none;
}

.red-incorrect-div {
	width:50px!important;
	border: none!important;
	position: absolute;
	top: 10px;
	right:10px;
	display: none;
}

.right-activity-info p {
	font-weight: bold;
	color: #60350c;
	font-size: 12px;
	width: 170px;
}

.dropbox-button {
	height: 48px;
	width: 180px;
	background-image: url('../images/dropbox.png');
	cursor: pointer;
	cursor: hand;
	text-indent: -9999em;
	overflow: hidden;
	background-color: transparent;
	border: none;
	display: block;
	margin-left: -13px;
	margin-top: 10px;
}

.dropbox-button:hover {
	background-image: url('../images/dropbox-hover.png');
}

#footer {
	background-color: #ddd;
	color: #07274B;
	height: 24px;
    padding: 18px 0px 18px 33px;
	font-size: 16px;
	position: relative;
}

#footer p {
	font-weight: bolder;
	position: absolute;
	left: 86px
}

#footer a {
	color: #07274B;
	text-decoration: none;
	position: absolute;
}

.footer-link-border {
	border-left: 2px solid #BBB;
}

#back-link {
	left: 537px;
}

#forward-link {
	left: 636px;
	padding-left: 20px;
}

#back-link:hover {
	color: #0E4E96;
}

#forward-link:hover {
	color: #0E4E96;
}

.clearDiv {
	clear: both;
}

#audiojs_wrapper0 {
	margin-left: 33px;
	width: 550px;
}

#audiojs_wrapper1 {
	width: 550px;
}

.scrubber {
	width: 370px!important;
}


.table-header {
	background-color: #DF9D53;
	color: white;
	text-align: center;
}

table td {
	/*border-bottom: 1px solid;*/
	/*border-left: 1px solid #E8B181;*/
}

table td:last-child {
	/*border-right: 1px solid #E8B181;*/
}


@media screen and (max-width: 959px) {

	#container {
	max-width: 100%;
	}

	.content {
		max-width: 95%;
	}

}

.object-container {
	margin-bottom: 33px;
	margin-left: 33px;
	padding-top: 10px;
	width: 610px;
	height: 380px;
	border: 1px dashed #6E95C0;
}
.object-heading {
	margin-bottom: 12px;
	margin-left: 33px;
	padding-bottom: 15px;
	width: 610px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #0E4E96;
}

#dnd-activity {
	position:relative;
	margin-bottom: 33px;
	margin-left: 16px;
	margin-right: 10px;
	margin-top: 15px;
	width: 877px;
	height: 763px;
	background-color: #CFDCEA;
}
#dnd-activity h3 {
	font-size: 16px;
	color: #2a2a2a;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 18px;
	margin-top: 18px;
	padding-top: 15px;
	}
#dnd-intro {
	margin-left: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 15px;
	line-height: 30px;
	float: left;
}

.dnd-heading{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #0E4E96;
}
#dnd-container1{
	float: left;
	width:250px; 
	height:305px;
	z-index: 0;
	margin-left: 35px;
}
#div1 {
	height:200px; 
	padding: 10px;
	border:1px solid #aaaaaa;
	background-color: #fff;
	width: 220px;
}
#dnd-container2{
	float: left;
	width: 250px;
	height: 305px;
	margin-left: 24px;
}
#div2 {
	height: 200px;
	/* margin: 5px 10px 8px 10px; */
	padding: 10px;
	border: 1px solid #aaaaaa;
	background-color: #fff;
	width: 220px;
}
#div3 { 
	height: 200px;
	/* margin: 5px 10px 5px 10px; */
	padding: 10px;
	border: 1px solid #aaaaaa;
	background-color: #fff;
	float: right;
	width: 220px;
}

#dnd-words-container {
	float: left;
	left: 592px;
	margin: 5px 5px 5px 35px;
	padding: 10px;
	width: 770px;
	height: 240px;
	border: 1px dashed #6E95C0;
}
.dnd-drag-text{
	position: relative;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 10px;
	line-height: 18px;
	background-color: #E87E04;
	color: white;
	display: inline-block;
	padding: 7px 9px 7px 8px;
  	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
	float: left;
	margin-top: 10px;
}

#reset-button-container {
	position: absolute;
	top: 315px;
	width: 700px;
	text-align: center;
	margin-left:30px;
}

#reset-button {
	margin-left: 10px;
}

#audio {
	width: 210px;
	height: 0px;
	position: relative;
	top: 13px;
	margin-left: 20px;
}
.text-speech-box {
	width: 517px;
	margin-left: 33px;
	padding-top: 33px;
	padding-bottom: 15px;
	padding-right: 33px;
	background-color: #CFDCEA;
}
.text-speech-word {
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.3em;
	padding: 0px 33px 22px 33px;
	color: #0E4E96;
}
.text-speech-explain {
	font-style: italic;
	padding: 0px 33px 8px 33px;
	line-height: 1.6em;
	color: #0E4E96;
	width: 300px;
}

.thing-link
 {
	width: 559px;
	height: 2102px;
	margin-left: 33px;
	margin-bottom: 20px;
	border: 1px dashed #6E95C0;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.5);
 }


 /* ACTIVITY NUMBERING */
.activity-number-container {
                position: absolute;
                left: -6px;
                top: 26px;
                height: 30px;
                width: 30px;
}
 
 
.activity-number,
.activity-number2 {
                height: 30px;
                width: 30px;
                background-image: url('../images/icons/activity.png');  /*The path where your activity icon is*/
                position: relative;
                float: left;
                margin: 0 0 0 -45px;
}
 
.activity-number p {
                color: white;
                font-weight: bold;
                font-size: 12px;
                position: absolute;
                top: 0px;
                left: 7px;
				text-align: center;
				width: 15px;
}
.activity-number2 p {
                color: white;
                font-weight: bold;
                font-size: 12px;
                position: absolute;
                top: 0px;
                left: 3px;
				text-align: center;
				width: 15px;
}


 /* ADD THESE STYLES FOR ACKNOWLEDGEMENTS */
 .ack /* Apply this to the caption text*/
 {
 	font-size: 7pt;
 	font-style: italic;
 	color: #dddddd;
 	margin-top: 5px;
 	float: right;
 }

 .ack-activity /* Use this class for captions on activities*/
 {
 	font-size: 7pt;
 	font-style: italic;
 	color: #bbbccc;
 	margin-top: -5px;
 	float: right;
 }

 .ack-left /* Use this class for captions on slideshows, audio etc (where you need it to float left)*/
 {
 	font-size: 7pt;
 	font-style: italic;
 	color: #dddddd;
 	margin-top: 5px;
 	margin-left: 33px;
 	float: left;
 }

  .ack-left-activity /* Use this class for captions on slideshows within activities (where you need it to float left)*/
 {
 	font-size: 7pt;
 	font-style: italic;
 	color: #bbbccc;
 	margin-top: -5px;
 	float: left;
 }

  .ack-full /* Apply this to the full acknowledgements text*/
 {
 	font-size: 8pt;
	color: #aaa;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 53px;
	overflow: hidden;
	width: 877px;
	position: relative;
	background-image: url('../images/page-line.png');
	background-repeat: repeat-y;
	background-position: 0px 0px;
	margin-bottom: 20px;
 }

   .ack-full a /* styling for links within the full ack */
 {
 	font-size: 8pt;
	color: #aaa;
 }

 .note{
 	font-size: 9pt;
 	color: red;
 }

 #intro-help{
	float: left;
	width: 220px;
	margin-left: 40px;
	margin-top: 410px;
	border-top: solid;
	padding-top: 10px;
	padding-left: 10px;
	border-width: 6px;
	border-color: #0E4E96;
}
#intro-help p{
	line-height: 1.5em;
	color: #0E4E96;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.writer-text {
  display: inline-block;
  background-color: #F3F753;
  font-size: 14px;
}

.activity-content {
	padding: 33px;
}


.strong-blue {
	font-weight: bold;
	color: #1F3A93;
}
.strong-purple {
	font-weight: bold;
	color: #663399;
}

.activity-column {
	display: inline-block;
}

.left-column {
	margin-left: 20px;
	width: 405px;
}
.right-column {
	float: right;
	width: 250px;
}
.activity-column-intro {
	margin-left: -20px!important;
}
.activity-column li {
	margin-bottom: 20px;
}

.info-button-container {
	display: inline-flex;
	display: -webkit-inline-flex;
	width: 740px;
}

.info-button {
	cursor: pointer;
	margin-left: 13px;
	width: 150px;
	margin-bottom: 12px;
}

.info-text {
	margin: 0!important;
	text-align: left;
}

.button-list {
	list-style: none;
}

.info-div {
	width: 100%;
	height: 500px;
}

.hidden-info {
	float: right;
	display: none;
}

.hidden-info,
.info-image {
	width: 460px;
}

.info-image {
	margin-left: 0;
}



.circles-container {
	position: relative;
	margin-bottom: 50px;
}

.circles-container > .trigger {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

.hidden {
	display: none;
}
.explanation-container {
	width: 600px;
	position: relative;
}
.explanation{
	position: absolute;
	background-color: lightgrey;
	right: 0;
	top: 0;
	width: 200px;
	padding: 10px;
}
.bottom-explanation{
	position: absolute;
	background-color: lightgrey;
	right: 0;
	bottom: 0;
	width: 200px;
	padding: 10px;
	line-height: 1.3em;
}
.explanation-container>.explanation{
	position: absolute;
	background-color: lightgrey;
	right: 0;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	top: 0;
	width: 240px;
	padding: 10px;
}

.example-images {
	position: absolute;
	top: 0;
	right:0;
}

.pathways-image {
	position: absolute;
	right: 45px;
	top: 0;
}
.pathways-text {
	width: 500px;
}

.hover-item {
	width: 250px;
	display: inline-block;
	vertical-align:top;
	margin-right: 33px;
}

.hidden {
	display: none!important;
}